.form{
  width: 100%;
  display: block;
}

.input{
  width: 100%;
  display: block;
  max-width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-size: 1rem;
}

