*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #181818;
}

body{
  max-width: 1200px;
  margin: 0 auto;
}

h1,h2{
  color: #fff;
  margin-bottom: 8px;
}

h2{
  margin-top: 30px;
}

main{
  width: 100%;
  position: relative;
}

div{
  width: 400px;
  display: inline-block;
}

ul{
  list-style-type: none;
  margin-left: 0;
  display: block;
}

li{
  margin-bottom: 4px;
  font-size: 18px;
  color: #8b8b8b;

  &:hover{
    color: #000;
  }
}

a{
  text-decoration: none;
  color: #1e90ff;

  &:hover{
    text-decoration: underline;
  }
}

button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 32px;

  &:hover{
    background-color: #ca1313;
    color: #edac96;
  }
}

picture{
  width: 200px;
  height: 200px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 200px;
}

th, td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #fff;
  clear: both;
}